@import 'header.scss';
@import 'city.scss';
@import 'social.scss';
@import 'mountain.scss';
@import 'about.scss';
@import 'awesome.scss';
@import 'pricing.scss';
@import 'reviews.scss';
@import 'contact.scss';
@import 'footer.scss';
@import '@media.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1600px;
  font-family: montserrat;
}

i:hover {
  cursor: pointer;
  transform: scale(1.2);
}
i, button {
  transition: 0.3s;
}

// JS classes
nav .links a.active {
  color: white;
  padding: 15px;
  background: black;
  transition: 0.3s;
}
