* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: montserrat;
}

i:hover {
  cursor: pointer;
  transform: scale(1.2);
}
i, button {
  transition: 0.3s;
}

header {
  width: 100%;
  height: 72px;
  margin: auto;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
  position: fixed;
  .logo {
    width: 48%;
    margin: auto;
    img {
      padding-left: 100px;
    }
  }
  nav {
    width: 48%;
    padding-right: 100px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
  }
  a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
  }
}

.city {
  max-width: 1400px;
  height: 640px;
  padding-top: 72px;
  background: url(../images/bg1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -140px;
  display: flex;
  align-items: center;
  h1, p {
    color: #FFFFFF;
  }
  .left-1 {
    height: 100%;
    width: 53%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    padding-left: 100px;
    gap: 25px;
    img {
      height: 108px;
      width: 247px;
    }
    hr {
      width: 50px;
      border: 2px solid #d8d8d8;
      border-radius: 4px;
    }
    button {
      border: 2px solid white;
      background: none;
      color: white;
      width: 130px;
      height: 40px;
    }
    button:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }

  .right-1 {
    height: 100%;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .get-started {
      height: 400px;
      width: 360px;
      background: #FFFFFF;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        color: black;
        padding-top: 20px;
      }
      .input {
        display: flex;
        flex-direction: column;
        width: 70%;
        font-size: 14px;
        input {
          border: none;
          line-height: 40px;
          padding-top: 10px;

          hr {
            color: #d8d8d87e;
          }
        }
      }
      #top {
        width: 100%;
        background: #f5f5f5;
        font-size: 20px;
        line-height: 50px;
        text-align: center;
        border-radius: 4px 4px;
        span {
          color: #E27866;
        }
      }
      .subscription {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 10px;
        .check {
          display: flex;
          flex-direction: row;
          align-items: center;
          p {
            font-size: 11px;
            padding: 10px;
          }
          hr {
            border: 1px solid #d8d8d8;
          }
        }
      }
      button {
        width: 100%;
        height: 50px;
        margin: auto;
        margin-top: 34px;
        border: none;
        border-radius: 0 0 4px 4px;
        background: #41D395;
        color: #FFFFFF;
        }
        button:hover {
          cursor: pointer;
          transform: scale(0.9);
          border-radius: 4px;
      }

    }
  }
}

.social {
  max-width: 1400px;
  height: 105px;
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .text {
    margin-left: 100px;
    h2 {
      color: #333333;
      font-size: 20px;
    }
    p {
      color: #86878B;
      font-size: 14px;
      padding-top: 10px;
    }
  }
  .icons {
    padding-top: 50px;
    margin-right: 100px;
    i {
      color: #E27866;
      height: 80px;
      width: 80px;
    }
  }
}

.mountain {
  max-width: 1400px;
  height: 600px;
  background: url(../images/bg2.png);
  display: flex;
  align-items: center;
  color: #FFFFFF;
  .left-2 {
    width: 70%;
    display: flex;
    gap: 40px;
    .content {
      width: 70%;
    }
    .tabs {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 20px;
      #tab {
        height: 80px;
        width: 80px;
        background: #E27866;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        p {
          transform: rotate(-45deg);
          transition: 0.3s;
        }
      }
      #tab:hover {
        cursor: pointer;
        transform: scale(1.1);
        p {
          transform: rotate(0)
        }
      }
    }
  }
  .right-2 {
    text-align: center;
    padding-top: 30px;
  }
}

.a {
  max-width: 1400px;
  height: 600px;
  background: #1c1c1c;
  display: flex;
  align-items: center;
  .left-3 {
    width: 50%;
    display: flex;
    justify-content: center;
  }
  .right-3 {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 150px;
    gap: 15px;
    color: #FFFFFF;
    hr {
      width: 190px;
      border: 2px solid #E27866;
      border-radius: 4px;
    }
    .one, .two {
      display: flex;
      flex-direction: row;
      gap: 10px;
      #icon {
        height: 40px;
        width: 40px;
        border-radius: 100px;
        background: #E27866;
        text-align: center;
        i {
          color: white;
          height: 40px;
          width: 40px;
          padding-top: 10px;
        }
      }
    }
  }
}

.awesome {
  max-width: 1400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .top-1 {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    h2 {
      color: #212121;
      font-size: 36px;
    }
    p {
      color: #86878B;
      font-size: 14px;
    }
    hr {
      border: 2px solid #E27866;
      border-radius: 4px;
      width: 60px;
    }
  }
  .bottom-1 {
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0px;
    #trio {
      width: 25%;
      text-align: center;
      h3 {
        color: #333333;
        font-size: 20px;
        line-height: 100px;
      }
      p {
        color: #86878B;
        font-size: 14px;
      }
      i {
        height: 40px;
        width: 40px;
        color: #E27866;
        border: 1px solid #E27866;
        border-radius: 100px;
        padding-top: 10px;
      }
    }
  }
}

.pricing {
  max-width: 1400px;
  height: 880px;
  background: #6696E2;
  display: flex;
  flex-direction: column;
  h2 {
    color: #FFFFFF;
  }
  .top-2 {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    h2 {
      font-size: 36px;
    }
    hr {
      width: 60px;
      border: 2px solid #41D395;
      border-radius: 4px;
    }
    p {
      color: #FFFFFF;
      font-size: 14px;
    }
  }
  .bottom-2 {
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    .professional {
      height: 490px;
      width: 340px;
      background: #FFFFFF;
      border-radius: 4px;
      .plan {
        height: 210px;
        background: #1c1c1c;
        border-radius: 4px 4px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        h2 {
          font-size: 94px;
        }
        p {
          color: #FFFFFF;
          font-size: 14px;
        }
        #plan {
          font-size: 20px;
        }
      }
      hr {
        border: 2px solid #41D395;
      }
      ul {
        margin-top: 20px;
      }
      li {
        list-style: none;
        text-align: center;
        color: #86878B;
        font-size: 14px;
        line-height: 35px;
      }
      #hr {
        width: 100%;
        height: 40px;
        background: #41D395;
        color: #FFFFFF;
        text-align: center;
        padding-top: 10px;
      }
    }
    .basic, .enterprise {
      height: 450px;
      width: 340px;
      background: #FFFFFF;
      border-radius: 4px;
      .plan {
        height: 210px;
        background: #1c1c1c;
        border-radius: 4px 4px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        h2 {
          font-size: 94px;
        }
        p {
          color: #FFFFFF;
          font-size: 14px;
        }
        #plan {
          font-size: 20px;
        }
      }
      hr {
        border: 2px solid #41D395;
      }
      ul {
        margin-top: 20px;
      }
      li {
        list-style: none;
        text-align: center;
        color: #86878B;
        font-size: 14px;
        line-height: 35px;
      }
      #hr {
        width: 100%;
        height: 40px;
        background: #41D395;
        color: #FFFFFF;
        text-align: center;
        padding-top: 10px;
      }
    }
  }
}

.reviews {
  max-width: 1400px;
  height: 590px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .top-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    h2 {
      font-size: 36px;
    }
    hr {
      border: 2px solid #6696E2;
      border-radius: 4px;
      width: 40px;
    }
  }
  .swiper {
    width: 80%;
    height: 65%;
    .swiper-pagination-bullet {
      border: 1px solid #E27866;
      background: none;
      width: 15px;
      height: 15px;
    }
  }
  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .chatbubble {
      .square {
        height: 150px;
        width: 300px;
        padding: 20px;
        background: #6696E2;
        border-radius: 8px;
        p {
          color: #FFFFFF;
          font-size: 16px;
        }
      }
      .triangle {
        width: 0; 
        height: 0;
        padding-left: 10px;
        border-bottom: 10px solid transparent;
        border-left: 10px solid transparent; 
        border-right:10px solid #6696E2; 
      }
    }
    .customer {
      width: 300px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      gap: 20px;
    }
  }
}


.contact-us {
  max-width: 1400px;
  height: 570px;
  background: #E27866;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    color: #FFFFFF;
    font-size: 36px;
    line-height: 120px;
  }
  p{
    color: #FFFFFF;
    font-size: 14px;
    line-height: 70px;
  }
  .container {
    height: 314px;
    width: 390px;
    padding-top: 40px;
    background: #FFFFFF;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .input {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 70%;
      input {
        border: none;
      }
    }
    .subscription {
      width: 70%;
      display: flex;
      flex-direction: row;
      gap: 10px;
      .check {
        display: flex;
        flex-direction: row;
        align-items: center;
        p {
          color: #1c1c1c;
          font-size: 9px;
          padding: 10px;
        }
        hr {
          border: 1px solid #d8d8d8;
        }
      }
    }
    button {
      width: 40%;
      height: 50px;
      margin: auto;
      margin-bottom: 20px;
      border: none;
      border-radius: 4px;
      background: #41D395;
      color: #FFFFFF;
    }
  }
}

footer {
  max-width: 1400px;
  height: 125px;
  background: #1c1c1c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  .copyright {
    color: #FFFFFF;
    padding-left: 300px;
  }
  i{
    color: #E27866;
    height: 40px;
    width: 40px;
    padding: 30px;
  }
}